@media screen and (max-width: 480px) {
    .logo {
        max-width: 40px;    
    }
    .logo-link {
        align-self: flex-start;
    }
    .page-header {
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .nav-button {
        display: block;
    }
    #search button{
        display: none;
        flex: ;
    }
    #search input {
        border-radius: 5px 5px 5px 5px;
        min-width: 60px;
        max-width: ;
        
    }
    #search {
        min-width: auto;
        flex:1;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;  
        overflow: hidden;
        width: 100%;
        transition: max-height 0.5s;
        flex-wrap:nowrap;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: var( --sage);
        z-index: 999;
    }
    #main.open {
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display: none;   
    }
    #user-nav a {
        padding: 5px;
        
    }
    #user-nav {
        gap: 5px;
    }
    .main-content {
        max-width: 100vw;
    }
    .card {
        min-width: 30vw;
        flex-shrink: 0;
    }
    .card-container {
        min-width: 150vw;
    }
    .scrollbox {
        overflow-x: scroll;
    }
}