:root {
    --cadet-gray: hsla(198, 16%, 66%, 1);
    --sage: rgb(38, 44, 24);
    --citron: hsla(63, 44%, 69%, 1);
    --sunset: hsla(37, 86%, 74%, 1);
    --moss-green: rgb(174, 189, 115);
    color-scheme: light dark;
}

body {
    background-color: var(--cadet-gray);
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

a {
    font-size: 120%;
}

a:link {
    color: rgb(225, 233, 217);
}

a:visited {
    color: brown;
}

a:hover {
    color: bisque;
}

a:active {
    color: crimson;
}

h1 {
    color: beige;
    background-color: black;
}

img {
    max-width: 100%;
}

.home-image {
    width: 1000px;
    margin: auto;
    display: block;
}

.About-Image {
    width: 700px;
    margin: auto;
    display: block;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 15, 11);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
    min-width: 40px;
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.navigation a {
    color: var(--moss-green);
    text-decoration: none;
    padding: 10px;
}
.navigation a:hover {
    color: var(--citron);
}

.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: ;
    border-radius: ;
    display: none;
}

.nav-button img {
    width: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;

}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
}

#search button {
    padding: 10px;
    border: solid 1px;
    background-color: darkgrey;
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--citron);
    background-size: cover;
    background-position: center;
}
.slide h2 {
    font-size: 3ch;
    text-shadow: 3px 4px 4px black;
}
.slide button {
    padding: 5px;
    min-width: 150px;
    background-color: var(--moss-green);
    border: solid 1px var(--sunset);
    border-radius: 8px;
}
.slide:nth-child(1) {
    background-image: url("Halloween.jpg");
    color: orange;
}
.slide:nth-child(2) {
    background-image: url("Black\ Friday.jpg");
    color: var(--citron);
}

nav a {
    text-decoration: none;
}

.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(17, 15, 11);
    color: var(--moss-green);
    padding: 20px 30px;
    margin-top: 30px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav a, .social-nav a, .legal-nav a {
    color: var(--moss-green);
    padding: 5px;
}
.social-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 120%;
}
.legal-nav {
    min-width: 100%;
    gap: 3em;
    display: flex;
    flex-direction: row;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.card img {
    max-width: 100%;
}
.card-content {
    padding: 15px;
}
.card {
    flex: 1;
    background-color: black;
    border: 1px solid var(--cadet-gray);
    border-radius: 10px;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    padding: 12px;
    border: 1px solid var (--sunset);
    border-radius: 5px;
}
.main-content {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}
.banner2 {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 45deg ,red, yellow, green, brown );
    margin-top: 1em;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input
.contact-form textarea {
    margin-bottom: 0.5em;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-form button {
    min-width: auto;
}